.navigation-bar {
    background-image: linear-gradient(45deg, rgb(255, 24, 132) 20% ,rgb(176, 11, 226));
}

.nav-link {
    color: #fff !important;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.2em;
    margin: .6em 1em;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-toggler span{
    color: #fff !important;
}

